<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="34"
        android:maxSdkVersion="35" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo3_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BilanLSF"
        tools:targetApi="31">

        <activity
            android:name=".pompier.BasePompierActivity"
            android:exported="false"
            android:label="base"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pompier.AccueilPompierActivity"
            android:exported="true"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />
        <activity
            android:name=".police.AccueilPoliceActivity"
            android:exported="true"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pompier.GroupePompierActivity"
            android:exported="false"
            android:label="@string/title_activity_groupe_pompier"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />
        <activity
            android:name=".police.GroupePoliceActivity"
            android:exported="false"
            android:label="@string/title_activity_groupe_police"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pompier.VideoPompierActivity"
            android:exported="false"
            android:label="@string/title_activity_video_pompier"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />
        <activity
            android:name=".police.VideoPoliceActivity"
            android:exported="false"
            android:label="@string/title_activity_video_police"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pompier.ClavierPompierActivity"
            android:exported="false"
            android:label="@string/title_activity_clavier_pompier"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".pompier.ClavierInversePompierActivity"
            android:exported="false"
            android:label="@string/title_activity_clavier_inverse_pompier"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".police.ClavierPoliceActivity"
            android:exported="false"
            android:label="@string/title_activity_clavier_police"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".police.ClavierInversePoliceActivity"
            android:exported="false"
            android:label="@string/title_activity_clavier_inverse_police"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".pompier.CorpsActivity"
            android:exported="false"
            android:label="@string/title_activity_corps"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".pompier.HorlogeActivity"
            android:exported="false"
            android:label="HorlogeActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".pompier.MinuteurActivity"
            android:exported="false"
            android:label="MinuteurActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".pompier.CalendrierActivity"
            android:exported="false"
            android:label="CalendrierActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".pompier.VitessePompierActivity"
            android:exported="false"
            android:label="VitessePompierActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".police.VitessePoliceActivity"
            android:exported="false"
            android:label="VitessePoliceActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".pompier.DessinPompierActivity"
            android:exported="false"
            android:label="DessinPompierActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".police.DessinPoliceActivity"
            android:exported="false"
            android:label="DessinPoliceActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".pompier.VoiturePompierActivity"
            android:exported="false"
            android:label="VoiturePompierActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".police.VoiturePoliceActivity"
            android:exported="false"
            android:label="VoiturePoliceActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".pompier.AProposPompierActivity"
            android:exported="false"
            android:label="AProposPompierActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".police.AProposPoliceActivity"
            android:exported="false"
            android:label="AProposPoliceActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".pompier.ParametresPompierActivity"
            android:exported="false"
            android:label="ParametresPompierActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".police.ParametresPoliceActivity"
            android:exported="false"
            android:label="ParametresPoliceActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".pompier.CguActivity"
            android:exported="false"
            android:label="CguActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".pompier.PdcActivity"
            android:exported="false"
            android:label="PdcActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".pompier.CreditsActivity"
            android:exported="false"
            android:label="CreditsActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".pompier.VersionActivity"
            android:exported="false"
            android:label="VersionActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />

        <activity
            android:name=".police.PointsPermisPoliceActivity"
            android:exported="false"
            android:label="PointsPermisPoliceActivity"
            android:theme="@style/Theme.BilanLSF"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />
    </application>

</manifest>