<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="34"
        android:maxSdkVersion="35" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BilanLSF"
        tools:targetApi="31">

        <activity
            android:name=".BaseActivity"
            android:exported="false"
            android:label="base"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GroupeActivity"
            android:exported="false"
            android:label="@string/title_activity_groupe"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".VideoActivity"
            android:exported="false"
            android:label="@string/title_activity_video"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ClavierActivity"
            android:exported="false"
            android:label="@string/title_activity_clavier"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".CorpsActivity"
            android:exported="false"
            android:label="@string/title_activity_corps"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".HorlogeActivity"
            android:exported="false"
            android:label="HorlogeActivity"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".MinuteurActivity"
            android:exported="false"
            android:label="MinuteurActivity"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".CalendrierActivity"
            android:exported="false"
            android:label="CalendrierActivity"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".VitesseActivity"
            android:exported="false"
            android:label="VitesseActivity"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".DessinActivity"
            android:exported="false"
            android:label="DessinActivity"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".VoitureActivity"
            android:exported="false"
            android:label="VoitureActivity"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".AProposActivity"
            android:exported="false"
            android:label="AProposActivity"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ParametresActivity"
            android:exported="false"
            android:label="ParametresActivity"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".CguActivity"
            android:exported="false"
            android:label="CguActivity"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".PdcActivity"
            android:exported="false"
            android:label="PdcActivity"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".CreditsActivity"
            android:exported="false"
            android:label="CreditsActivity"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />

        <activity
            android:name=".VersionActivity"
            android:exported="false"
            android:label="VersionActivity"
            android:theme="@style/Theme.BilanLSF"
            android:screenOrientation="landscape" />
    </application>

</manifest>