<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Perceptible"
        tools:targetApi="31">

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Perceptible"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GroupeActivity"
            android:exported="false"
            android:label="@string/title_activity_groupe"
            android:theme="@style/Theme.Perceptible"
            android:screenOrientation="landscape" />
        <activity
            android:name=".VideoActivity"
            android:exported="false"
            android:label="@string/title_activity_video"
            android:theme="@style/Theme.Perceptible"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ClavierActivity"
            android:exported="false"
            android:label="@string/title_activity_clavier"
            android:theme="@style/Theme.Perceptible"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CorpsActivity"
            android:exported="false"
            android:label="@string/title_activity_corps"
            android:theme="@style/Theme.Perceptible"
            android:screenOrientation="landscape" />
    </application>

</manifest>